body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #30362F;
}

.container {
    position: relative;
}

.peach {
    width: 100px;
    height: 100px;
    background-color: #F7B5BA;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.3s ease;
}

.peach:hover {
    transform: scale(1.1);
}

.peach-1 {
    top: 50px;
    left: 50px;
}

.peach-2 {
    top: 20vh;
    left: 70vw;
}

.peach-3 {
    top: 60vh;
    left: 30vw;
}

.peach-4 {
    top: 80vh;
    left: 10vw;
}

.peach-5 {
    top: 40vh;
    left: 90vw;
}
